<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html></html>
<head>
  <title>Homework Journal Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Homework Journal", root_path, class: "navbar-brand" %>
      </div>
      <div class="nav navbar-nav navbar-right">
        <%= link_to "New Assignment", new_assignment_path, class: "nav navbar-link" %>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>